@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
:root {
    --i_orange: #fd7459;
    --i_green: #385a64;
    --i_text_color: #26414b;
    --i_muted_green: #385a642f;
}
#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }
  
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-grow: 1;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--i_green)
  }
  nav {
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    font-size: 1.1em;
  }
  nav a {
    text-decoration: none;
  }
  .logo img {
      max-width: 2.4em;
  }
  .logo h2 {
    padding-left: 0.7em;
  }
  #login, #register, #settings {
    background-color: var(--i_muted_green);
    width: 40vw;
    margin: 1em auto;
    padding: 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

  }
  .form-signin, .form-register, .settings-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  .form-signin > *, .form-register > *, .settings-form > * {
    margin: 0.7em auto;
    
  }
  .form-signin label, .form-register label, .settings-form label {
    margin: 0.7em 1.3em;
    
  }
  .form-signin input, .form-register input, .settings-form #sex, .settings-form #insulin-strength, .settings-form input{
      width: 94%
  }
 
  button, #modal-btn {
      color: white;
      background-color: var(--i_orange);
      padding: 1em;
      width: 10em;
      border: none;
      border-collapse: separate;
      perspective: 1px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 85px;
  }
  button:hover {
      background-color: #da634b;
  }
  button:active {
      background-color: #fa937e;
  }
  nav > a {
      color: var(--i_text_color);
  }
  nav > a:hover {
      color: rgb(32, 115, 136);
      text-decoration: underline;
  }
  h1, h2, h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--i_text_color)
  }
  .company-name {
      letter-spacing: 15px;
  }

  /* for mobile */
  @media screen and (max-width: 900px) {
    #nav {
      display: flex;
      flex-direction: column;
    }
    nav {
      flex-direction: column;
    }
    .side-img {
      /* width: 100% */
    }
    #login, #register, #settings {
      background-color: var(--i_muted_green);
      width: 80vw;
      margin: 1em auto;
      padding: 2em;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    #app div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr;
    }
    
  }
  